body{
  font-family: 'Permanent Marker', cursive;
}

button{
  background-color: #fff;
  border: none;
  font-size: 16px;
  -webkit-transition-duration: 0.3s; 
  transition-duration: 0.3s;
}

button:hover {
    color: #fb3f00;
}

*{
 /* border: 1px solid red !important;*/
}

.author{
  font-size: 12px;
  font-family: serif;
}

.hr{
  border: none;
  height: 1px;
}

.container{
}

.header{
  padding: 1px;
}

.header-in{
  padding: 2px;
}

.button-bar{
  padding: 1px;
}